html {
  box-sizing: border-box;
  font-family: sans-serif;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  height: 100%;
  min-height: 100%;
  min-width: 320px;
  overflow-wrap: break-word;
}

.wrapper {
  @media(min-width: 976px) {
    margin-right: 296px;
  }

  @media(min-width: 1366px) {
    margin-right: 360px;
  }
}
