<div class="block-2">
  <div class="block-2__inner">
    <div class="block-2__title-block">
      <h2>Как это работает</h2>
      <a class="block-2__button" href="#">
        <span>Посмотреть пример</span>
        <img src="images/icons/envelope.svg" alt="">
      </a>
    </div>
    <div class="steps">
      <div class="step">
        <img class="step__image" src="images/block_2/steps/1.svg" alt="">
        <p class="step__text">Выбери подарочную карту</p>
      </div>
      <div class="delimeter"></div>
      <div class="step">
        <img class="step__image" src="images/block_2/steps/2.svg" alt="">
        <p class="step__text">Оформи подарочную карту онлайн</p>
      </div>
      <div class="delimeter"></div>
      <div class="step">
        <img class="step__image" src="images/block_2/steps/3.svg" alt="">
        <p class="step__text">Отправь ее на email и в sms получателю</p>
      </div>
      <div class="delimeter"></div>
      <div class="step">
        <img class="step__image" src="images/block_2/steps/4.svg" alt="">
        <p class="step__text">Подарок моментально прилетит получателю на телефон</p>
      </div>
    </div>
  </div>
</div>
