<div class="block-1">
  <div class="block-1__image">
    <picture>
      <source srcset="images/block_1/desktop.webp" media="(min-width: 768px)" type="image/webp">
      <source srcset="images/block_1/desktop.jpg" media="(min-width: 768px)">
      <source srcset="images/block_1/mobile.webp" type="image/webp">
      <img src="images/block_1/mobile.jpg" alt="Девушка">
    </picture>
  </div>
  <div class="block-1__inner">
    <h1>Электрoнные подарочные карты</h1>
    <div class="js-cards-slider swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a class="card" href="#">
            <picture>
              <source srcset="images/block_1/cards/0.webp" type="image/webp">
              <img src="images/block_1/cards/0.jpg" alt="DIGIFT CARD для неё">
            </picture>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="card" href="#">
            <picture>
              <source srcset="images/block_1/cards/1.webp" type="image/webp">
              <img src="images/block_1/cards/1.jpg" alt="РИВ ГОШ">
            </picture>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="card" href="#">
            <picture>
              <source srcset="images/block_1/cards/2.webp" type="image/webp">
              <img src="images/block_1/cards/2.jpg" alt="Улыбка радуги">
            </picture>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="card" href="#">
            <picture>
              <source srcset="images/block_1/cards/3.webp" type="image/webp">
              <img src="images/block_1/cards/3.jpg" alt="Подружка">
            </picture>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="card" href="#">
            <picture>
              <source srcset="images/block_1/cards/4.webp" type="image/webp">
              <img src="images/block_1/cards/4.jpg" alt="Московский ювелирный завод">
            </picture>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="card" href="#">
            <picture>
              <source srcset="images/block_1/cards/5.webp" type="image/webp">
              <img src="images/block_1/cards/5.jpg" alt="Дефиле">
            </picture>
          </a>
        </div>
      </div>
    </div>
    <div class="block-1__text">
      <p>Не успеваешь купить подарки для семьи, друзей или коллег?</p>
      <p>Просто отправь им электронную подарочную карту любимого бренда или универсальную подарочную карту Digift Card</p>
    </div>
  </div>
</div>
