<div class="block-3">
  <div class="block-3__inner">
    <h2>Наш магазин уже оценили тысячи людей!</h2>
    <div class="js-posts-slider swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a class="post" href="#">
            <picture>
              <source srcset="images/block_3/posts/1.webp" type="image/webp">
              <img src="images/block_3/posts/1.jpg" alt="Пост 1">
            </picture>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="post" href="#">
            <picture>
              <source srcset="images/block_3/posts/2.webp" type="image/webp">
              <img src="images/block_3/posts/2.jpg" alt="Пост 2">
            </picture>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="post" href="#">
            <picture>
              <source srcset="images/block_3/posts/3.webp" type="image/webp">
              <img src="images/block_3/posts/3.jpg" alt="Пост 3">
            </picture>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="post" href="#">
            <picture>
              <source srcset="images/block_3/posts/4.webp" type="image/webp">
              <img src="images/block_3/posts/4.jpg" alt="Пост 4">
            </picture>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="post" href="#">
            <picture>
              <source srcset="images/block_3/posts/5.webp" type="image/webp">
              <img src="images/block_3/posts/5.jpg" alt="Пост 5">
            </picture>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="post" href="#">
            <picture>
              <source srcset="images/block_3/posts/6.webp" type="image/webp">
              <img src="images/block_3/posts/6.jpg" alt="Пост 6">
            </picture>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="post" href="#">
            <picture>
              <source srcset="images/block_3/posts/7.webp" type="image/webp">
              <img src="images/block_3/posts/7.jpg" alt="Пост 7">
            </picture>
          </a>
        </div>
      </div>
      <div class="js-swiper-pagination swiper-pagination"></div>
      <div class="js-swiper-button-next swiper-button-next"></div>
    </div>
    <div class="block-3__text">
      <p>Ищете идеальный подарок, который можно быстро купить прямо с телефона? Сервис Digift  –  это большой выбор электронных подарочных карт на любой случай.</p>
    </div>
    <div class="js-swiper-pagination-2 swiper-pagination"></div>
  </div>
</div>
