<footer class="footer">
  <div class="footer__inner">
    <div class="footer__left">
      <div class="footer__left-top">
        <div class="footer__logo">
          <picture>
            <source srcset="images/logo_desktop.svg" media="(min-width: 768px)">
            <img srcset="images/logo_mobile.svg" alt="DiGift">
          </picture>
        </div>
        <ul class="footer__social social-list">
          <li class="social-list__item">
            <a class="social-link" href="#" target="_blank" rel="noreferrer">
              <span class="social-link__abbr">Вк</span>
              <span class="social-link__full">Вконтакте</span>
            </a>
          </li>
          <li class="social-list__item">
            <a class="social-link" href="#" target="_blank" rel="noreferrer">
              <span class="social-link__abbr">Fb</span>
              <span class="social-link__full">Facebook</span>
            </a>
          </li>
          <li class="social-list__item">
            <a class="social-link" href="#" target="_blank" rel="noreferrer">
              <span class="social-link__abbr">Inst</span>
              <span class="social-link__full">Instagram</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__copyright">
        <p>©2020 Digift — Электронные подарочные сертификаты</p>
      </div>
    </div>
    <div class="footer__right">
      <a class="footer__phone" href="tel:+78003330778">8 800 333 0778</a>
      <p class="footer__work-time">С 10:00 до 19:00
      <p class="footer__note">Бесплатно<br> по России</p>
    </div>
  </div>
</footer>
